.duck{
    display: flex;
    margin-left: 10%;
    padding-top: 20%;
}
.cat{
    border: 2px solid red;
    border-radius: 20px;
    height: 300px;
    width: 260px;
    margin: 10px;  
}
img{
    border: 2px solid rgb(199, 35, 177);
    border-radius: 20px;
    height: 100px;
    width: 200px;
    margin: 10px;
    margin-left: 10%;
}
body{
    background-color: rgb(163, 17, 168);
    background-repeat: no-repeat;
    background-size: cover;
}